<html>
    <head>

    </head>
    <body>
        <div>
            <p>Hi, <%= guest.name%></p><br>
            <p><%= guest.email%></p><br>
            <p><%= guest.otp%></p><br>
            <p><%= guest.no_of_guest%></p><br>
            <br>
            <br>
            <br>
            <p>Thanks & Regards,</p><br>
            <p>Socio-Ease</p>
        </div>
    </body>
</html>